[user]
	name = vahidtwo
	email = v.imanian@toman.ir
[help]
	autocorrect = 20
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        meta = yellow bold
        frag = magenta bold
        new = green bold
        old = red bold
        whitespace = red reverse

[color "status"]
        added = yellow
        changed = green
        untracked = cyan

[alias]
        git = !git
	alias-master-as-main = !git symbolic-ref refs/heads/main refs/heads/master && git symbolic-ref refs/remotes/origin/main refs/remotes/origin/master && git switch main

[pager]
	status = true

[diff]
        colorMoved = default

[merge]
        conflictStyle = zdiff3
[init]
	defaultBranch = main
	templateDir = /home/vahidtwo/.git-templates
[checkout]
	stash=True
[core]
	editor = /usr/bin/vim
	autocrlf = input
[rebase]
	autoStash = true
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
