# Example Git Configuration
# Copy your actual .gitconfig here

[user]
	name = Your Name
	email = your.email@example.com

[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore_global

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[color]
	ui = auto

[push]
	default = simple

[pull]
	rebase = false

[init]
	defaultBranch = main

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

